*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
}

.container {
  height: 80vh;
  width: 80vw;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

button {
  font-family: monospace;
  font-size: 2vw;
  padding: 2vw;
  background-color: black;
  color: white;
  border-radius: 10px;
}
